In [1]:
import ponder.bigquery
import modin.pandas as pd
import os
import json

creds = json.load(open(os.path.expanduser(".gbq")))
bigquery_con = ponder.bigquery.connect(creds, "PONDER")
ponder.bigquery.init(bigquery_con)

2023-03-21 15:46:31,189 - INFO - Establishing connection to pushdown.ponder-internal.io

Connected to
       ___               __
      / _ \___  ___  ___/ /__ ____
     / ___/ _ \/ _ \/ _  / -_) __/
    /_/___\___/_//_/\_,_/\__/_/
      / __/__ _____  _____ ____
     _\ \/ -_) __/ |/ / -_) __/
    /___/\__/_/  |___/\__/_/

In [2]:
df = pd.read_sql("CUSTOMER", bigquery_con)

In [3]:
df

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
3,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
4,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...
...,...,...,...,...,...,...,...,...
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
99,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"

# ⭐Order-related operations ⭐

In [4]:
df.head()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
3,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
4,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...

In [5]:
df.tail()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
99,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"

In [6]:
df.iloc[9:99]

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
9,60061,Customer#000060061,vYxaVWbpszoT8qQBdaizgWRSQGe,14,24-289-526-7060,5349.63,BUILDING,onic foxes nag blithely slyly express foxes. b...
10,60002,Customer#000060002,ThGBMjDwKzkoOxhz,15,25-782-500-8435,742.46,BUILDING,beans. fluffily regular packages
11,60081,Customer#000060081,"MQOhRC,E4,To,KvFk",15,25-494-459-9431,-924.45,BUILDING,iously pending escapades among the blithely ev...
12,60003,Customer#000060003,"Ed hbPtTXMTAsgGhCr4HuTzK,Md2",16,26-859-847-7640,2526.92,BUILDING,fully pending deposits sleep quickly. blithely...
13,60042,Customer#000060042,ISIiBHlZbYLcKvjENUzOujxtpesZkn6d,17,27-877-618-6057,8681.96,BUILDING,ptotes. furiously special accounts wake quickl...
...,...,...,...,...,...,...,...,...
94,60094,Customer#000060094,MkoqzelPE 8kI,12,22-809-331-1348,-408.23,AUTOMOBILE,ges cajole slyly express dependencies. quickly...
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep

In [7]:
df.iloc[2:6, 2:6]

,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL
2,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47
3,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28
4,20l7qcXSrVV,4,14-206-902-5158,9000.61
5,"Y GqUG1QEdWr8 zkApzAXLkjOe,XMnJvV6,",8,18-421-991-6811,3422.48

In [8]:
df_sorted = df.sort_values(["C_MKTSEGMENT"])

In [9]:
df_sorted

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
84,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...
85,60017,Customer#000060017,kBV62efx6B6Iw2VsRxqEr1sKQ,1,11-139-952-4191,3653.17,AUTOMOBILE,inal packages. ironic dinos cajole against the...
86,60045,Customer#000060045,tdK8K5oQAv 65 8dBXSVqlkaVTi1yGQ212OIhdw,1,11-324-301-1077,8388.11,AUTOMOBILE,the furiously regular requests detect alongsi...
87,60008,Customer#000060008,3VteHZYOfbgQioA96tUeL0R7i,2,12-693-562-7122,5621.44,AUTOMOBILE,nal courts. carefully regular Tiresias lose qu...
88,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,AUTOMOBILE,even accounts cajole furiously. furiously unusua
...,...,...,...,...,...,...,...,...
79,60025,Customer#000060025,fHgT5BscCU4NDQzn,22,32-222-885-5210,7296.15,MACHINERY,pains cajole slyly permanently regular deposi...
80,60093,Customer#000060093,76gbJiFRKVc,22,32-203-506-3217,7010.33,MACHINERY,the regular ideas print furiously across the ...
81,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
82,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...
83,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...

In [10]:
df_sorted.iloc[4:44]

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
88,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,AUTOMOBILE,even accounts cajole furiously. furiously unusua
89,60086,Customer#000060086,T9hSwghSUhcyhxNnuB30QBHHMZa8R,4,14-710-182-9914,5835.95,AUTOMOBILE,express pinto beans. carefully final instruct...
90,60069,Customer#000060069,Z9walBtm2U,5,15-165-422-7207,4656.11,AUTOMOBILE,foxes. carefully ironic deposits grow. furiou...
91,60064,Customer#000060064,mAUZ1TMU3IZZlVrL1azR dfua8WLHay4QzMOrR5,9,19-918-643-8328,8026.04,AUTOMOBILE,pecial accounts among the fluffily even packag...
92,60004,Customer#000060004,"NivCT2RVaavl,yUnKwBjDyMvB42WayXCnky",10,20-573-674-7999,7975.22,AUTOMOBILE,furiously above the ironic packages. slyly br...
93,60036,Customer#000060036,uS6mnAgdAJxYUXHKV6pJeA,12,22-567-329-8836,7897.90,AUTOMOBILE,refully ironic foxes use blithely arou
94,60094,Customer#000060094,MkoqzelPE 8kI,12,22-809-331-1348,-408.23,AUTOMOBILE,ges cajole slyly express dependencies. quickly...
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
99,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"
0,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
3,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
4,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...
5,60011,Customer#000060011,"Y GqUG1QEdWr8 zkApzAXLkjOe,XMnJvV6,",8,18-421-991-6811,3422.48,BUILDING,se carefully even deposits. carefully pending ...
6,60049,Customer#000060049,2ST732JS cryl,9,19-228-258-6362,2128.83,BUILDING,es: express pinto beans wake across the carefu...
7,60066,Customer#000060066,YKVkOby6gVWFSzqRr,9,19-551-529-4706,2472.24,BUILDING,after the carefully ironic decoys serve about ...
8,60089,Customer#000060089,2i2cZd4bGay4WBf9mvy,13,23-670-811-2493,9849.12,BUILDING,quickly ironic accounts. slyly regular pinto ...
9,60061,Customer#000060061,vYxaVWbpszoT8qQBdaizgWRSQGe,14,24-289-526-7060,5349.63,BUILDING,onic foxes nag blithely slyly express foxes. b...
10,60002,Customer#000060002,ThGBMjDwKzkoOxhz,15,25-782-500-8435,742.46,BUILDING,beans. fluffily regular packages
11,60081,Customer#000060081,"MQOhRC,E4,To,KvFk",15,25-494-459-9431,-924.45,BUILDING,iously pending escapades among the blithely ev...
12,60003,Customer#000060003,"Ed hbPtTXMTAsgGhCr4HuTzK,Md2",16,26-859-847-7640,2526.92,BUILDING,fully pending deposits sleep quickly. blithely...
13,60042,Customer#000060042,ISIiBHlZbYLcKvjENUzOujxtpesZkn6d,17,27-877-618-6057,8681.96,BUILDING,ptotes. furiously special accounts wake quickl...
14,60065,Customer#000060065,AJT1hcmeo67Oyv3QOnGge2FUI72Fd07Rbp2ABF,17,27-870-969-8066,9757.39,BUILDING,fily carefully unusual accounts. blithe deposi...
15,60087,Customer#000060087,3Tj0OTYwzmO lB8rrLGb8 KVffeRwbup,22,32-160-777-7305,6810.75,BUILDING,he carefully unusual accounts. furiously regul...
16,60091,Customer#000060091,"RKrW9,uKOmAqJVIt5",22,32-987-142-9547,9919.95,BUILDING,ake fluffily ironic dolphins. f
17,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
18,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
19,60053,Customer#000060053,wb0gteUavl1MPAHwiM,0,10-684-354-3580,6515.51,FURNITURE,ly courts. fluffy packages wake furiously alon...
20,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
21,60071,Customer#000060071,5OpD50GLeQCOEfSwMIGK2Ex111bsESvygAzj,1,11-933-273-2627,7050.68,FURNITURE,"fily ironic accounts haggle blithely. regular,..."
22,60074,Customer#000060074,"iSYTpN9,YZnCxj8L",1,11-891-864-7463,8364.34,FURNITURE,ording to the blithely final requests. careful...
23,60044,Customer#000060044,h0Pq22NKefS3TAEzNX pwRXnRMUbIbi4Gg,4,14-935-681-4749,-812.91,FURNITURE,ly alongside of the final requests. ironic pai...
24,60028,Customer#000060028,qoxXSl3gyR5EnAsp,6,16-234-762-4451,3494.99,FURNITURE,e the quickly unusual theodolites cajole slyly...
25,60031,Customer#000060031,RsGAZJyxQopaxWfk5,8,18-381-736-7702,6765.74,FURNITURE,cial deposits. ironic requests across the iro
26,60041,Customer#000060041,"7v,yuEy1eSGCIR",8,18-726-365-9334,1943.82,FURNITURE,elets haggle furiously after the regular depend
27,60009,Customer#000060009,S60sNpR6wnacPBLeOxjxhvehf,9,19-578-776-2699,9548.01,FURNITURE,efully even dependencies haggle furiously alon...

# ⭐ Pandas Index and querying ⭐

In [11]:
df.set_index("C_CUSTKEY")

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...
...,...,...,...,...,...,...,...
60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"

In [12]:
df.set_index("C_CUSTKEY").loc[[60011, 60022, 60044, 60055, 60033]]

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60011,Customer#000060011,"Y GqUG1QEdWr8 zkApzAXLkjOe,XMnJvV6,",8,18-421-991-6811,3422.48,BUILDING,se carefully even deposits. carefully pending ...
60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
60044,Customer#000060044,h0Pq22NKefS3TAEzNX pwRXnRMUbIbi4Gg,4,14-935-681-4749,-812.91,FURNITURE,ly alongside of the final requests. ironic pai...
60055,Customer#000060055,XkEd61ySvE933LKafILNEH SkdC36eftDuo4Yji,10,20-477-978-6479,3725.35,MACHINERY,ctions print slyly furiously regular asymptote...
60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...

# ⭐ Ordered versions of relational operators ⭐

In [13]:
df.groupby("C_MKTSEGMENT", sort=False).mean()

                 C_CUSTKEY  C_NATIONKEY    C_ACCTBAL
C_MKTSEGMENT
BUILDING      60057.722222    11.555556  5113.458889
FURNITURE     60041.409091    10.454545  5104.987273
HOUSEHOLD     60051.750000    10.800000  3322.558500
MACHINERY     60046.250000    14.083333  4119.896667
AUTOMOBILE    60059.687500     9.125000  4518.056875

In [14]:
df_sorted.groupby("C_MKTSEGMENT", sort=False).mean()

                 C_CUSTKEY  C_NATIONKEY    C_ACCTBAL
C_MKTSEGMENT
AUTOMOBILE    60059.687500     9.125000  4518.056875
BUILDING      60057.722222    11.555556  5113.458889
FURNITURE     60041.409091    10.454545  5104.987273
HOUSEHOLD     60051.750000    10.800000  3322.558500
MACHINERY     60046.250000    14.083333  4119.896667

# ⭐ Concat ⭐

In [15]:
pd.concat([df, df])

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
3,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
4,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...
...,...,...,...,...,...,...,...,...
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
99,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"

In [16]:
pd.concat([df, df]).groupby("C_CUSTKEY").count()

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60001,2,2,2,2,2,2,2
60002,2,2,2,2,2,2,2
60003,2,2,2,2,2,2,2
60004,2,2,2,2,2,2,2
60005,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...
60096,2,2,2,2,2,2,2
60097,2,2,2,2,2,2,2
60098,2,2,2,2,2,2,2
60099,2,2,2,2,2,2,2
60100,2,2,2,2,2,2,2

# ⭐ One-hot encoding ⭐

In [17]:
pd.get_dummies(df, columns="C_MKTSEGMENT")

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_COMMENT,C_MKTSEGMENT_AUTOMOBILE,C_MKTSEGMENT_BUILDING,C_MKTSEGMENT_FURNITURE,C_MKTSEGMENT_HOUSEHOLD,C_MKTSEGMENT_MACHINERY
0,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,ckly bold deposits. carefully bold accounts in...,0,1,0,0,0
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,"slyly pending, permanent packages. special fo...",0,1,0,0,0
2,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,the accounts. furiously unusual,0,1,0,0,0
3,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,fully furiously even deposits. final accounts nag,0,1,0,0,0
4,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,boost quickly among the slyly regular platele...,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,ial platelets wake carefully express theodolit...,1,0,0,0,0
96,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,sts. final packages along the daringly bold id...,1,0,0,0,0
97,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,carefully unusual packages boost carefully ac...,1,0,0,0,0
98,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,ly. blithely regular asymptotes use after the dep,1,0,0,0,0
99,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,"g the even, silent accounts. pl",1,0,0,0,0

In [18]:
pd.get_dummies(df_sorted, columns="C_MKTSEGMENT")

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_COMMENT,C_MKTSEGMENT_AUTOMOBILE,C_MKTSEGMENT_BUILDING,C_MKTSEGMENT_FURNITURE,C_MKTSEGMENT_HOUSEHOLD,C_MKTSEGMENT_MACHINERY
84,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,al requests; packages cajole accounts; idly ev...,1,0,0,0,0
85,60017,Customer#000060017,kBV62efx6B6Iw2VsRxqEr1sKQ,1,11-139-952-4191,3653.17,inal packages. ironic dinos cajole against the...,1,0,0,0,0
86,60045,Customer#000060045,tdK8K5oQAv 65 8dBXSVqlkaVTi1yGQ212OIhdw,1,11-324-301-1077,8388.11,the furiously regular requests detect alongsi...,1,0,0,0,0
87,60008,Customer#000060008,3VteHZYOfbgQioA96tUeL0R7i,2,12-693-562-7122,5621.44,nal courts. carefully regular Tiresias lose qu...,1,0,0,0,0
88,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,even accounts cajole furiously. furiously unusua,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
79,60025,Customer#000060025,fHgT5BscCU4NDQzn,22,32-222-885-5210,7296.15,pains cajole slyly permanently regular deposi...,0,0,0,0,1
80,60093,Customer#000060093,76gbJiFRKVc,22,32-203-506-3217,7010.33,the regular ideas print furiously across the ...,0,0,0,0,1
81,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,ess requests. special requests wake blit,0,0,0,0,1
82,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,s. ironic packages are carefully slyly unusual...,0,0,0,0,1
83,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,lithely final packages. quickly regular reques...,0,0,0,0,1

In [19]:
# filter by types
df_numeric = df.select_dtypes("number")

In [20]:
df_numeric

    C_CUSTKEY  C_NATIONKEY  C_ACCTBAL
0       60018            0    5759.83
1       60080            0     689.24
2       60082            0    3645.47
3       60056            3    8880.28
4       60077            4    9000.61
..        ...          ...        ...
95      60096           12    4620.25
96      60034           14    7230.69
97      60046           20    1022.57
98      60088           20     312.90
99      60078           21    -704.56

[100 rows x 3 columns]

In [21]:
# matrix-like operations beyond natural SQL - normalization
(df_numeric - df_numeric.min()) / (df_numeric.max() - df_numeric.min())

    C_CUSTKEY  C_NATIONKEY  C_ACCTBAL
0    0.171717     0.000000   0.614250
1    0.797980     0.000000   0.148290
2    0.818182     0.000000   0.419952
3    0.555556     0.125000   0.901004
4    0.767677     0.166667   0.912061
..        ...          ...        ...
95   0.959596     0.500000   0.509529
96   0.333333     0.583333   0.749415
97   0.454545     0.833333   0.178921
98   0.878788     0.833333   0.113706
99   0.777778     0.875000   0.020207

[100 rows x 3 columns]

In [22]:
df_orders = pd.read_sql("ORDERS", bigquery_con)

In [23]:
df_orders

,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,O_CLERK,O_SHIPPRIORITY,O_COMMENT
0,1406208,60001,O,157883.33,1997-07-17,4-NOT SPECIFIED,Clerk#000000571,0,uests sleep fluffily
1,1406208,60001,O,157883.33,1997-07-17,4-NOT SPECIFIED,Clerk#000000571,0,uests sleep fluffily
2,1880834,60001,O,199873.75,1997-11-29,2-HIGH,Clerk#000000624,0,carefully pending deposits are slyly inside t...
3,1880834,60001,O,199873.75,1997-11-29,2-HIGH,Clerk#000000624,0,carefully pending deposits are slyly inside t...
4,5576196,60001,O,48216.40,1995-11-03,5-LOW,Clerk#000000550,0,ithely special theodolit
...,...,...,...,...,...,...,...,...,...
1957,4050629,60100,F,239681.90,1994-04-03,5-LOW,Clerk#000000063,0,ar instructions use; blithely ironic requests a
1958,23268,60100,F,120405.33,1992-01-17,2-HIGH,Clerk#000000538,0,d platelets. fluffily regular pinto beans among
1959,23268,60100,F,120405.33,1992-01-17,2-HIGH,Clerk#000000538,0,d platelets. fluffily regular pinto beans among
1960,1360614,60100,F,161007.95,1993-01-26,1-URGENT,Clerk#000000691,0,ts boost furiously. closely regular ideas are....
1961,1360614,60100,F,161007.95,1993-01-26,1-URGENT,Clerk#000000691,0,ts boost furiously. closely regular ideas are....

In [24]:
joined = df.merge(df_orders, left_on=["C_CUSTKEY"], right_on=["O_CUSTKEY"], how="inner")

In [25]:
joined

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,O_CLERK,O_SHIPPRIORITY,O_COMMENT
0,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",4790020,60080,F,173293.59,1993-06-10,3-MEDIUM,Clerk#000000944,0,oxes! slyly ironic theodolites use blithely ac
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",4790020,60080,F,173293.59,1993-06-10,3-MEDIUM,Clerk#000000944,0,oxes! slyly ironic theodolites use blithely ac
2,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3892485,60080,O,144635.76,1995-11-25,1-URGENT,Clerk#000000150,0,orbits eat. excuses against the express patte...
3,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3892485,60080,O,144635.76,1995-11-25,1-URGENT,Clerk#000000150,0,orbits eat. excuses against the express patte...
4,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3516960,60080,F,189507.94,1993-12-15,4-NOT SPECIFIED,Clerk#000000255,0,s. bravely regular dinos nag slyl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,1565153,60088,O,103833.82,1995-06-06,3-MEDIUM,Clerk#000000417,0,ial asymptotes across the fluffily even deposi...
1958,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,63713,60088,F,133342.94,1995-01-12,1-URGENT,Clerk#000000838,0,regular asymptotes. quickly final ideas wake qui
1959,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,63713,60088,F,133342.94,1995-01-12,1-URGENT,Clerk#000000838,0,regular asymptotes. quickly final ideas wake qui
1960,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,692455,60088,F,3841.67,1993-10-27,3-MEDIUM,Clerk#000000189,0,y. even accounts cajole unusual platelets. iro...
1961,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,692455,60088,F,3841.67,1993-10-27,3-MEDIUM,Clerk#000000189,0,y. even accounts cajole unusual platelets. iro...

In [26]:
joined_sorted = df_sorted.merge(df_orders, left_on=["C_CUSTKEY"], right_on=["O_CUSTKEY"], how="inner")

In [27]:
joined_sorted

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,O_CLERK,O_SHIPPRIORITY,O_COMMENT
0,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...,5980192,60098,F,121088.14,1992-08-15,5-LOW,Clerk#000000530,0,ally regular instructions. regular theodolites...
1,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...,5980192,60098,F,121088.14,1992-08-15,5-LOW,Clerk#000000530,0,ally regular instructions. regular theodolites...
2,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...,5903137,60098,O,101321.99,1998-05-17,2-HIGH,Clerk#000000951,0,deas wake about the pe
3,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...,5903137,60098,O,101321.99,1998-05-17,2-HIGH,Clerk#000000951,0,deas wake about the pe
4,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...,658210,60098,F,209675.35,1994-03-07,2-HIGH,Clerk#000000807,0,nag quickly fluffily fluffy dolphins.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit,4049603,60058,O,325263.36,1998-03-21,1-URGENT,Clerk#000000178,0,"regular, even deposits. final requests"
1958,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit,2232289,60058,O,52717.26,1997-11-24,2-HIGH,Clerk#000000130,0,es. carefully special requests are furiously. ...
1959,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit,2232289,60058,O,52717.26,1997-11-24,2-HIGH,Clerk#000000130,0,es. carefully special requests are furiously. ...
1960,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit,2644966,60058,F,50047.06,1993-11-27,5-LOW,Clerk#000000733,0,"nts detect even deposits. regular, special"
1961,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit,2644966,60058,F,50047.06,1993-11-27,5-LOW,Clerk#000000733,0,"nts detect even deposits. regular, special"

# ⭐ Pandas DatetimeIndex Operations ⭐

In [28]:
joined["O_ORDERDATE"]

0       1993-06-10
1       1993-06-10
2       1995-11-25
3       1995-11-25
4       1993-12-15
           ...
1957    1995-06-06
1958    1995-01-12
1959    1995-01-12
1960    1993-10-27
1961    1993-10-27
Name: O_ORDERDATE, Length: 1962, dtype: dbdate

In [29]:
joined["O_ORDERDATE"] = pd.to_datetime(joined["O_ORDERDATE"])

In [30]:
joined["O_ORDERDATE"]

0      1993-06-10
1      1993-06-10
2      1995-11-25
3      1995-11-25
4      1993-12-15
          ...
1957   1995-06-06
1958   1995-01-12
1959   1995-01-12
1960   1993-10-27
1961   1993-10-27
Name: O_ORDERDATE, Length: 1962, dtype: datetime64[ns]

In [31]:
dt_index_df = joined.set_index("O_ORDERDATE")

In [32]:
dt_index_df.index

DatetimeIndex(['1993-06-10', '1993-06-10', '1995-11-25', '1995-11-25',
               '1993-12-15', '1993-12-15', '1992-08-31', '1992-08-31',
               '1993-03-08', '1993-03-08',
               ...
               '1994-02-09', '1994-02-09', '1992-04-09', '1992-04-09',
               '1995-06-06', '1995-06-06', '1995-01-12', '1995-01-12',
               '1993-10-27', '1993-10-27'],
              dtype='datetime64ns]', name='O_ORDERDATE', freq=None, length=1962)

In [33]:
dt_index_df

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERPRIORITY,O_CLERK,O_SHIPPRIORITY,O_COMMENT
O_ORDERDATE,,,,,,,,,,,,,,,,
1993-06-10,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",4790020,60080,F,173293.59,3-MEDIUM,Clerk#000000944,0,oxes! slyly ironic theodolites use blithely ac
1993-06-10,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",4790020,60080,F,173293.59,3-MEDIUM,Clerk#000000944,0,oxes! slyly ironic theodolites use blithely ac
1995-11-25,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3892485,60080,O,144635.76,1-URGENT,Clerk#000000150,0,orbits eat. excuses against the express patte...
1995-11-25,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3892485,60080,O,144635.76,1-URGENT,Clerk#000000150,0,orbits eat. excuses against the express patte...
1993-12-15,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo...",3516960,60080,F,189507.94,4-NOT SPECIFIED,Clerk#000000255,0,s. bravely regular dinos nag slyl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995-06-06,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,1565153,60088,O,103833.82,3-MEDIUM,Clerk#000000417,0,ial asymptotes across the fluffily even deposi...
1995-01-12,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,63713,60088,F,133342.94,1-URGENT,Clerk#000000838,0,regular asymptotes. quickly final ideas wake qui
1995-01-12,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,63713,60088,F,133342.94,1-URGENT,Clerk#000000838,0,regular asymptotes. quickly final ideas wake qui
1993-10-27,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,692455,60088,F,3841.67,3-MEDIUM,Clerk#000000189,0,y. even accounts cajole unusual platelets. iro...
1993-10-27,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep,692455,60088,F,3841.67,3-MEDIUM,Clerk#000000189,0,y. even accounts cajole unusual platelets. iro...

In [34]:
dt_index_df.resample("4W")["O_TOTALPRICE"].mean()

O_ORDERDATE
1992-01-05    107539.078750
1992-02-02    167735.845882
1992-03-01    139168.101667
1992-03-29    156691.431538
1992-04-26    125387.478750
                  ...
1998-03-22    131166.107143
1998-04-19    209674.459286
1998-05-17    148929.767692
1998-06-14    178145.218000
1998-07-12    116599.585000
Name: O_TOTALPRICE, Length: 86, dtype: float64

In [35]:
dt_index_df.resample("4W")["O_TOTALPRICE"].mean().to_frame()

              O_TOTALPRICE
O_ORDERDATE
1992-01-05   107539.078750
1992-02-02   167735.845882
1992-03-01   139168.101667
1992-03-29   156691.431538
1992-04-26   125387.478750
...                    ...
1998-03-22   131166.107143
1998-04-19   209674.459286
1998-05-17   148929.767692
1998-06-14   178145.218000
1998-07-12   116599.585000

[86 rows x 1 columns]