In [1]:
import ponder.bigquery
import modin.pandas as pd
import os; import json;

creds = json.load(open(os.path.expanduser("credential.json")))
bigquery_con = ponder.bigquery.connect(creds, "TEST")
ponder.bigquery.init(bigquery_con)

2023-03-22 20:58:51,508 - INFO - Establishing connection to pushdown.ponder-internal.io

Connected to
       ___               __
      / _ \___  ___  ___/ /__ ____
     / ___/ _ \/ _ \/ _  / -_) __/
    /_/___\___/_//_/\_,_/\__/_/
      / __/__ _____  _____ ____
     _\ \/ -_) __/ |/ / -_) __/
    /___/\__/_/  |___/\__/_/

In [2]:
df = pd.read_sql("PONDER_CUSTOMER", bigquery_con)

In [3]:
df

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
3,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
4,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
...,...,...,...,...,...,...,...,...
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
97,60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,HOUSEHOLD,ndencies. excuses sleep. quickly daring dugout...
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...

# ⭐Order-related operations ⭐

In [4]:
df.head()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
3,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
4,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...

In [5]:
df.tail()

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
97,60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,HOUSEHOLD,ndencies. excuses sleep. quickly daring dugout...
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...

In [6]:
df.iloc[9:99]

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
9,60071,Customer#000060071,5OpD50GLeQCOEfSwMIGK2Ex111bsESvygAzj,1,11-933-273-2627,7050.68,FURNITURE,"fily ironic accounts haggle blithely. regular,..."
10,60074,Customer#000060074,"iSYTpN9,YZnCxj8L",1,11-891-864-7463,8364.34,FURNITURE,ording to the blithely final requests. careful...
11,60019,Customer#000060019,kSI6njhnR ApXo031vtmCAaXo,1,11-624-666-9689,3444.77,MACHINERY,ncies. blithely silent gifts above the carefully
12,60017,Customer#000060017,kBV62efx6B6Iw2VsRxqEr1sKQ,1,11-139-952-4191,3653.17,AUTOMOBILE,inal packages. ironic dinos cajole against the...
13,60045,Customer#000060045,tdK8K5oQAv 65 8dBXSVqlkaVTi1yGQ212OIhdw,1,11-324-301-1077,8388.11,AUTOMOBILE,the furiously regular requests detect alongsi...
...,...,...,...,...,...,...,...,...
94,60068,Customer#000060068,"nXabPtwJBxlxb,0edpFf",23,33-906-135-1500,4492.81,HOUSEHOLD,uriously even accounts use furiously carefully...
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
97,60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,HOUSEHOLD,ndencies. excuses sleep. quickly daring dugout...
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...

In [7]:
df.iloc[2:6, 2:6]

                         C_ADDRESS  C_NATIONKEY          C_PHONE  C_ACCTBAL
2            lQ8PB9FGW53C36XQX2uq0            0  10-310-354-8579    5759.83
3  1SI,x4F9 zO22 F7OGksMBSUWu5AUpP            0  10-604-525-3386    6210.99
4        I2XoZQLC,63R3zIG z6i3VMCS            0  10-513-498-1045    -759.74
5               wb0gteUavl1MPAHwiM            0  10-684-354-3580    6515.51

In [8]:
df_sorted = df.sort_values(["C_MKTSEGMENT"])

In [9]:
df_sorted

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
8,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,AUTOMOBILE,al requests; packages cajole accounts; idly ev...
12,60017,Customer#000060017,kBV62efx6B6Iw2VsRxqEr1sKQ,1,11-139-952-4191,3653.17,AUTOMOBILE,inal packages. ironic dinos cajole against the...
13,60045,Customer#000060045,tdK8K5oQAv 65 8dBXSVqlkaVTi1yGQ212OIhdw,1,11-324-301-1077,8388.11,AUTOMOBILE,the furiously regular requests detect alongsi...
18,60008,Customer#000060008,3VteHZYOfbgQioA96tUeL0R7i,2,12-693-562-7122,5621.44,AUTOMOBILE,nal courts. carefully regular Tiresias lose qu...
20,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,AUTOMOBILE,even accounts cajole furiously. furiously unusua
...,...,...,...,...,...,...,...,...
91,60093,Customer#000060093,76gbJiFRKVc,22,32-203-506-3217,7010.33,MACHINERY,the regular ideas print furiously across the ...
92,60025,Customer#000060025,fHgT5BscCU4NDQzn,22,32-222-885-5210,7296.15,MACHINERY,pains cajole slyly permanently regular deposi...
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...

In [10]:
df_sorted.iloc[4:44]

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
20,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,AUTOMOBILE,even accounts cajole furiously. furiously unusua
27,60086,Customer#000060086,T9hSwghSUhcyhxNnuB30QBHHMZa8R,4,14-710-182-9914,5835.95,AUTOMOBILE,express pinto beans. carefully final instruct...
29,60069,Customer#000060069,Z9walBtm2U,5,15-165-422-7207,4656.11,AUTOMOBILE,foxes. carefully ironic deposits grow. furiou...
43,60064,Customer#000060064,mAUZ1TMU3IZZlVrL1azR dfua8WLHay4QzMOrR5,9,19-918-643-8328,8026.04,AUTOMOBILE,pecial accounts among the fluffily even packag...
46,60004,Customer#000060004,"NivCT2RVaavl,yUnKwBjDyMvB42WayXCnky",10,20-573-674-7999,7975.22,AUTOMOBILE,furiously above the ironic packages. slyly br...
51,60036,Customer#000060036,uS6mnAgdAJxYUXHKV6pJeA,12,22-567-329-8836,7897.90,AUTOMOBILE,refully ironic foxes use blithely arou
52,60096,Customer#000060096,T9KQ0gc6NvnTSSsFkJOk,12,22-822-538-4011,4620.25,AUTOMOBILE,ial platelets wake carefully express theodolit...
53,60094,Customer#000060094,MkoqzelPE 8kI,12,22-809-331-1348,-408.23,AUTOMOBILE,ges cajole slyly express dependencies. quickly...
62,60034,Customer#000060034,XHRzdojlNAuRjTNRn7A1aL9OYJj56nud1sVss,14,24-991-831-7826,7230.69,AUTOMOBILE,sts. final packages along the daringly bold id...
79,60088,Customer#000060088,xllgZf63jONKni,20,30-896-444-2387,312.90,AUTOMOBILE,ly. blithely regular asymptotes use after the dep
80,60046,Customer#000060046,VnzEPMAo8c9UxMI6,20,30-318-671-3782,1022.57,AUTOMOBILE,carefully unusual packages boost carefully ac...
87,60078,Customer#000060078,fU63guHs7wAQu04,21,31-401-573-5393,-704.56,AUTOMOBILE,"g the even, silent accounts. pl"
0,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
19,60056,Customer#000060056,"2lvoe8n8b1,PJ0i3Jq9ZKeL7rH9Fahsui36",3,13-221-847-3701,8880.28,BUILDING,fully furiously even deposits. final accounts nag
21,60077,Customer#000060077,20l7qcXSrVV,4,14-206-902-5158,9000.61,BUILDING,boost quickly among the slyly regular platele...
34,60011,Customer#000060011,"Y GqUG1QEdWr8 zkApzAXLkjOe,XMnJvV6,",8,18-421-991-6811,3422.48,BUILDING,se carefully even deposits. carefully pending ...
38,60049,Customer#000060049,2ST732JS cryl,9,19-228-258-6362,2128.83,BUILDING,es: express pinto beans wake across the carefu...
39,60066,Customer#000060066,YKVkOby6gVWFSzqRr,9,19-551-529-4706,2472.24,BUILDING,after the carefully ironic decoys serve about ...
54,60089,Customer#000060089,2i2cZd4bGay4WBf9mvy,13,23-670-811-2493,9849.12,BUILDING,quickly ironic accounts. slyly regular pinto ...
57,60061,Customer#000060061,vYxaVWbpszoT8qQBdaizgWRSQGe,14,24-289-526-7060,5349.63,BUILDING,onic foxes nag blithely slyly express foxes. b...
63,60081,Customer#000060081,"MQOhRC,E4,To,KvFk",15,25-494-459-9431,-924.45,BUILDING,iously pending escapades among the blithely ev...
64,60002,Customer#000060002,ThGBMjDwKzkoOxhz,15,25-782-500-8435,742.46,BUILDING,beans. fluffily regular packages
66,60003,Customer#000060003,"Ed hbPtTXMTAsgGhCr4HuTzK,Md2",16,26-859-847-7640,2526.92,BUILDING,fully pending deposits sleep quickly. blithely...
73,60065,Customer#000060065,AJT1hcmeo67Oyv3QOnGge2FUI72Fd07Rbp2ABF,17,27-870-969-8066,9757.39,BUILDING,fily carefully unusual accounts. blithe deposi...
74,60042,Customer#000060042,ISIiBHlZbYLcKvjENUzOujxtpesZkn6d,17,27-877-618-6057,8681.96,BUILDING,ptotes. furiously special accounts wake quickl...
88,60087,Customer#000060087,3Tj0OTYwzmO lB8rrLGb8 KVffeRwbup,22,32-160-777-7305,6810.75,BUILDING,he carefully unusual accounts. furiously regul...
89,60091,Customer#000060091,"RKrW9,uKOmAqJVIt5",22,32-987-142-9547,9919.95,BUILDING,ake fluffily ironic dolphins. f
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
3,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
4,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
5,60053,Customer#000060053,wb0gteUavl1MPAHwiM,0,10-684-354-3580,6515.51,FURNITURE,ly courts. fluffy packages wake furiously alon...
9,60071,Customer#000060071,5OpD50GLeQCOEfSwMIGK2Ex111bsESvygAzj,1,11-933-273-2627,7050.68,FURNITURE,"fily ironic accounts haggle blithely. regular,..."
10,60074,Customer#000060074,"iSYTpN9,YZnCxj8L",1,11-891-864-7463,8364.34,FURNITURE,ording to the blithely final requests. careful...
22,60044,Customer#000060044,h0Pq22NKefS3TAEzNX pwRXnRMUbIbi4Gg,4,14-935-681-4749,-812.91,FURNITURE,ly alongside of the final requests. ironic pai...
30,60028,Customer#000060028,qoxXSl3gyR5EnAsp,6,16-234-762-4451,3494.99,FURNITURE,e the quickly unusual theodolites cajole slyly...
35,60041,Customer#000060041,"7v,yuEy1eSGCIR",8,18-726-365-9334,1943.82,FURNITURE,elets haggle furiously after the regular depend
36,60031,Customer#000060031,RsGAZJyxQopaxWfk5,8,18-381-736-7702,6765.74,FURNITURE,cial deposits. ironic requests across the iro
40,60009,Customer#000060009,S60sNpR6wnacPBLeOxjxhvehf,9,19-578-776-2699,9548.01,FURNITURE,efully even dependencies haggle furiously alon...

# ⭐ Pandas Index and querying ⭐

In [11]:
df.set_index("C_CUSTKEY")

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
...,...,...,...,...,...,...,...
60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,HOUSEHOLD,ndencies. excuses sleep. quickly daring dugout...
60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...
60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...

In [12]:
df.set_index("C_CUSTKEY").loc[[60011, 60022, 60044, 60055, 60033]]

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
60044,Customer#000060044,h0Pq22NKefS3TAEzNX pwRXnRMUbIbi4Gg,4,14-935-681-4749,-812.91,FURNITURE,ly alongside of the final requests. ironic pai...
60011,Customer#000060011,"Y GqUG1QEdWr8 zkApzAXLkjOe,XMnJvV6,",8,18-421-991-6811,3422.48,BUILDING,se carefully even deposits. carefully pending ...
60055,Customer#000060055,XkEd61ySvE933LKafILNEH SkdC36eftDuo4Yji,10,20-477-978-6479,3725.35,MACHINERY,ctions print slyly furiously regular asymptote...
60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...

# ⭐ Ordered versions of relational operators ⭐

In [13]:
df.groupby("C_MKTSEGMENT", sort=False).mean()

                 C_CUSTKEY  C_NATIONKEY    C_ACCTBAL
C_MKTSEGMENT
BUILDING      60057.722222    11.555556  5113.458889
FURNITURE     60041.409091    10.454545  5104.987273
HOUSEHOLD     60051.750000    10.800000  3322.558500
MACHINERY     60046.250000    14.083333  4119.896667
AUTOMOBILE    60059.687500     9.125000  4518.056875

In [14]:
df_sorted.groupby("C_MKTSEGMENT", sort=False).mean()

                 C_CUSTKEY  C_NATIONKEY    C_ACCTBAL
C_MKTSEGMENT
AUTOMOBILE    60059.687500     9.125000  4518.056875
BUILDING      60057.722222    11.555556  5113.458889
FURNITURE     60041.409091    10.454545  5104.987273
HOUSEHOLD     60051.750000    10.800000  3322.558500
MACHINERY     60046.250000    14.083333  4119.896667

# ⭐ Concat ⭐

In [15]:
pd.concat([df, df])

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,BUILDING,the accounts. furiously unusual
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,BUILDING,"slyly pending, permanent packages. special fo..."
2,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,BUILDING,ckly bold deposits. carefully bold accounts in...
3,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,FURNITURE,ons cajole blithely. bold theodolites along
4,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,FURNITURE,across the blithely ironic sentiments. thinly...
...,...,...,...,...,...,...,...,...
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,MACHINERY,ess requests. special requests wake blit
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,BUILDING,ly special somas poach carefully. furiously un...
97,60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,HOUSEHOLD,ndencies. excuses sleep. quickly daring dugout...
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,MACHINERY,lithely final packages. quickly regular reques...
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,MACHINERY,s. ironic packages are carefully slyly unusual...

In [16]:
pd.concat([df, df]).groupby("C_CUSTKEY").count()

,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
C_CUSTKEY,,,,,,,
60001,2,2,2,2,2,2,2
60002,2,2,2,2,2,2,2
60003,2,2,2,2,2,2,2
60004,2,2,2,2,2,2,2
60005,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...
60096,2,2,2,2,2,2,2
60097,2,2,2,2,2,2,2
60098,2,2,2,2,2,2,2
60099,2,2,2,2,2,2,2
60100,2,2,2,2,2,2,2

# ⭐ One-hot encoding ⭐

In [17]:
pd.get_dummies(df, columns="C_MKTSEGMENT")

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_COMMENT,C_MKTSEGMENT_AUTOMOBILE,C_MKTSEGMENT_BUILDING,C_MKTSEGMENT_FURNITURE,C_MKTSEGMENT_HOUSEHOLD,C_MKTSEGMENT_MACHINERY
0,60082,Customer#000060082,"x3V6vEbLSeUjYdjS1MvR2,u4gB0S 9d8UEJ",0,10-729-863-1818,3645.47,the accounts. furiously unusual,0,1,0,0,0
1,60080,Customer#000060080,"g7cKdEj2mzUQLSKFFnWsmL,3GaOIrBmfi",0,10-192-161-6631,689.24,"slyly pending, permanent packages. special fo...",0,1,0,0,0
2,60018,Customer#000060018,lQ8PB9FGW53C36XQX2uq0,0,10-310-354-8579,5759.83,ckly bold deposits. carefully bold accounts in...,0,1,0,0,0
3,60062,Customer#000060062,"1SI,x4F9 zO22 F7OGksMBSUWu5AUpP",0,10-604-525-3386,6210.99,ons cajole blithely. bold theodolites along,0,0,1,0,0
4,60022,Customer#000060022,"I2XoZQLC,63R3zIG z6i3VMCS",0,10-513-498-1045,-759.74,across the blithely ironic sentiments. thinly...,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,ess requests. special requests wake blit,0,0,0,0,1
96,60079,Customer#000060079,dwwsJWhDr0fnRJnyhe6gtls,24,34-197-192-3607,3329.55,ly special somas poach carefully. furiously un...,0,1,0,0,0
97,60059,Customer#000060059,"dZISBokE9NWaz13 b5WbOHrd8DifA,e2yict0",24,34-348-323-9173,2337.46,ndencies. excuses sleep. quickly daring dugout...,0,0,0,1,0
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,lithely final packages. quickly regular reques...,0,0,0,0,1
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,s. ironic packages are carefully slyly unusual...,0,0,0,0,1

In [18]:
pd.get_dummies(df_sorted, columns="C_MKTSEGMENT")

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_COMMENT,C_MKTSEGMENT_AUTOMOBILE,C_MKTSEGMENT_BUILDING,C_MKTSEGMENT_FURNITURE,C_MKTSEGMENT_HOUSEHOLD,C_MKTSEGMENT_MACHINERY
8,60098,Customer#000060098,"2y,ZeGm0u0 LYJ7waqsZkmWqmU8vn",0,10-972-910-3772,1449.68,al requests; packages cajole accounts; idly ev...,1,0,0,0,0
12,60017,Customer#000060017,kBV62efx6B6Iw2VsRxqEr1sKQ,1,11-139-952-4191,3653.17,inal packages. ironic dinos cajole against the...,1,0,0,0,0
13,60045,Customer#000060045,tdK8K5oQAv 65 8dBXSVqlkaVTi1yGQ212OIhdw,1,11-324-301-1077,8388.11,the furiously regular requests detect alongsi...,1,0,0,0,0
18,60008,Customer#000060008,3VteHZYOfbgQioA96tUeL0R7i,2,12-693-562-7122,5621.44,nal courts. carefully regular Tiresias lose qu...,1,0,0,0,0
20,60092,Customer#000060092,7HlwD5NMv4G1iaQGEN3,3,13-875-733-5313,6711.67,even accounts cajole furiously. furiously unusua,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
91,60093,Customer#000060093,76gbJiFRKVc,22,32-203-506-3217,7010.33,the regular ideas print furiously across the ...,0,0,0,0,1
92,60025,Customer#000060025,fHgT5BscCU4NDQzn,22,32-222-885-5210,7296.15,pains cajole slyly permanently regular deposi...,0,0,0,0,1
95,60058,Customer#000060058,"X9NS,0Ddki",23,33-146-680-6559,6672.12,ess requests. special requests wake blit,0,0,0,0,1
98,60033,Customer#000060033,fwvb5ua8ZcB,24,34-142-708-2404,-493.59,lithely final packages. quickly regular reques...,0,0,0,0,1
99,60027,Customer#000060027,"U,Y EKzklGgxO9HK4uT2g",24,34-250-415-3801,6115.22,s. ironic packages are carefully slyly unusual...,0,0,0,0,1

In [19]:
# filter by types
df_numeric = df.select_dtypes("number")

In [20]:
df_numeric

    C_CUSTKEY  C_NATIONKEY  C_ACCTBAL
0       60082            0    3645.47
1       60080            0     689.24
2       60018            0    5759.83
3       60062            0    6210.99
4       60022            0    -759.74
..        ...          ...        ...
95      60058           23    6672.12
96      60079           24    3329.55
97      60059           24    2337.46
98      60033           24    -493.59
99      60027           24    6115.22

[100 rows x 3 columns]

In [21]:
# matrix-like operations beyond natural SQL - normalization
(df_numeric - df_numeric.min()) / (df_numeric.max() - df_numeric.min())

    C_CUSTKEY  C_NATIONKEY  C_ACCTBAL
0    0.818182     0.000000   0.419952
1    0.797980     0.000000   0.148290
2    0.171717     0.000000   0.614250
3    0.616162     0.000000   0.655710
4    0.212121     0.000000   0.015136
..        ...          ...        ...
95   0.575758     0.958333   0.698085
96   0.787879     1.000000   0.390920
97   0.585859     1.000000   0.299753
98   0.323232     1.000000   0.039594
99   0.262626     1.000000   0.646909

[100 rows x 3 columns]

In [22]:
df_orders = pd.read_sql("ORDERS", bigquery_con)

RuntimeError: Error in getting table metadata SELECT * FROM TEST.`ORDERS` LIMIT 1 because 404 Not found: Table innate-empire-381416:TEST.ORDERS was not found in location US

Location: US
Job ID: 9111716e-5ab1-4ecf-b53f-f8a8962ca048

In [ ]:
df_orders

In [ ]:
joined = df.merge(df_orders, left_on=["C_CUSTKEY"], right_on=["O_CUSTKEY"], how="inner")

In [ ]:
joined

In [ ]:
joined_sorted = df_sorted.merge(df_orders, left_on=["C_CUSTKEY"], right_on=["O_CUSTKEY"], how="inner")

In [ ]:
joined_sorted

# ⭐ Pandas DatetimeIndex Operations ⭐

In [ ]:
joined["O_ORDERDATE"]

In [ ]:
joined["O_ORDERDATE"] = pd.to_datetime(joined["O_ORDERDATE"])

In [ ]:
joined["O_ORDERDATE"]

In [ ]:
dt_index_df = joined.set_index("O_ORDERDATE")

In [ ]:
dt_index_df.index

In [ ]:
dt_index_df

In [ ]:
dt_index_df.resample("4W")["O_TOTALPRICE"].mean()

In [ ]:
dt_index_df.resample("4W")["O_TOTALPRICE"].mean().to_frame()