## Let's start pondering 🌡️

Just to get you warmed up and familiar with this toy dataset, let’s try a few queries. 

First, let's try to initialize the Ponder connection.

In [ ]:
import modin.pandas as pd
import ponder.snowflake
from ponder.utils.core import Teleporter

# Initialize snowflake connection here 
snowflake_con = ponder.snowflake.connect(
    user="PONDER",
    password="***REMOVED***",
    account="***REMOVED***",
    role="ACCOUNTADMIN",
    database="TAXI",
    schema="PUBLIC",
    warehouse="PONDER",
)
ponder.snowflake.init(snowflake_con, timeout=1200)

Now that we have the connection initialized. Let's read the **YELLOW_TRIPDATA_O** table that already exists in your database. This dataset shows yellow taxi trip data in New York city.

In [ ]:
df = pd.read_sql("YELLOW_TRIPDATA_O", con='auto')

Now that you have read the dataset, let's see what is in the dataset.

In [ ]:
df.head()

Next, we look at the size of our dataset.

In [ ]:
df.size

We filter out all trips with more than two passengers.

In [ ]:
df2= df[df['PASSENGER_COUNT']>2]

Finally, we would like to see the most common payment methods in these trips.

In [ ]:
# write your code here
df.groupby('PAYMENT_TYPE').count()